
@font-face{
    font-family: 'Daniel-Regular.otf';
    src: url("../Portfolio/assets/Daniel-Regular.otf");
}


html,body{background-color: #f3f1f2;
color: #7c7c7c;
font-family: 'Daniel-Regular.otf';
font-size: 20px;
margin: 0px;
padding: 0px;
}

.line{
    border-style: solid;
    border-color: #7c7c7c;
    width: 60vw;
    margin: auto;
    border-radius: 60%;
    height: 2x;
}

a{
    color: #7c7c7c;
    text-decoration: none;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    color: #aa4465;
}

.nav{
    text-align: center;
    font-size: 12px;
}

.nav-item{
    list-style: none;
    display: inline-block;
    padding: 1em;
}

#about{
    margin: auto;
    font-size: 40px;
    text-align: center;
    line-height: 1.0;
}



.container{
    margin-top: 100px;
    text-align: center;
    background-color: #7c7c7c;
    color: #f3f1f2;
    font-family: "open sans", sans-serif;
    border-style: solid;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: #aa4465;
    padding: 10px;
}

.skillsContainer{
    
    text-align: center;
    background-color: #f3f1f2;
    color: #f3f1f2;
    font-family: "open sans", sans-serif;
    border-style: solid;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: #aa4465;
    padding: 10px;
    height: 150px;
}

.skills{
    text-align: center;
    background-color: #f3f1f2;
    color: #7c7c7c;
    font-family: "open sans", sans-serif;
    padding: 10px;
    display: inline-block;
    height: 200px;
}

.skills img{
    border-style: solid;
    border-width: thin;
    border-radius: 20px;
    height: 40px;
    width: 40px;
}


.container h3{
    color: #aa4465;
    font-family: "daniel-regular.otf";
}

.row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}


.cssCreature{
    background-color: #aa4465;
    content: url("../Portfolio/assets/cssCreature.png");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2;
}

.staticLayout{
    content: url("../Portfolio/assets/StaticLayout.png");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2;
}
.apiProject{
    content: url("../Portfolio/assets/cssCreature.png");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2; 
}
.placeholder1{
    content: url("https://picsum.photos/id/392/367/267");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2; 
}
.placeholder2{
    content: url("https://picsum.photos/id/411/367/267");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2; 
}
.placeholder3{
    content: url("https://picsum.photos/id/43/367/267");
    width: 100%;
    border-style: groove;
    border-color: #f3f1f2; 
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .row{
        display: block;
        width: 100%;
        
    }
    .col-xs-12{
       width: 100%; 
       color: black;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .row{
        display: block;
        width: 100%;
    }
    
    .col-sm-12{
        width: 100%;
        color: black;
    }
  
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .row{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .col-md-6{
        width: 100%;
        color: black;
    }
    
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .row{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .col-lg-4{
        width: 100%;
        color: black;
    }
    
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) 
{ .row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.col-xl-4{
    width: 100%;
    color: black;
}
}

footer{
    background-color: #7c7c7c;
    color: #aa4465;
    text-align: center; 
    width: 100%;
    position: fixed;
    bottom:0;
}






/* 
.portfolio{
    width: 100%;
    height: 500px;
    text-align: center;
    
}

.portfolio li{
    list-style: none;
    
}


#cssCreature{
    background-image: url("../Portfolio/assets/cssCreature.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline;
    box-sizing: border-box;
}

#staticLayout{
    background-image: url("../Portfolio/assets/StaticLayout.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline;
    box-sizing: border-box;
}

#apiProject{
    background-image: url("../Portfolio/assets/StaticLayout.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline;
    box-sizing: border-box;
}


 */
